*{box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;

}
body{
  margin:0;
  font-family: -apple-system,BlinkMacSystemFont,'segoe UI','Robote','Oxygen','Ubuntu',
  'Cantarell','fira sans','Open sans','Helvetica Neue','sans-serif';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.main{
  min-height: 200vh;
  padding: 6rem 1rem 1rem;
}
